@import url("https://fonts.googleapis.com/css2?family=Arima:wght@300&family=Ubuntu:wght@300&display=swap");
#botonera {
  background-color: #45F54A; }
  #botonera img {
    width: 40px; }

a,
h1,
h2,
h3 {
  font-family: "Arima", cursive; }

h5 {
  background-color: #F3F0F0;
  color: #1A1A1A; }

p {
  font-family: "Ubuntu", sans-serif; }

.imagenesCarousel {
  height: 75%; }

.h-img {
  margin: 25px; }

.titulo {
  text-align: center;
  font-size: 60px;
  margin-top: 20px;
  margin-bottom: 20px; }

#contacto {
  background-color: #F5862C; }
  #contacto div div article form button {
    background-color: #45F54A; }

footer {
  background-color: #45F54A;
  margin-bottom: 0; }

.titulos, .titulosEventos {
  font-family: "Arima", cursive;
  color: #F5862C;
  text-align: center;
  font-size: 60px;
  margin-top: 20px;
  margin-bottom: 20px; }

.titulosEventos {
  font-size: 30px;
  color: #1EA823; }

p {
  font-size: 30px;
  text-align: justify;
  color: #7D5DF5;
  padding: 15px; }

.bgColor-info {
  background-color: #FFEEE2; }
