@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300&family=Ubuntu:wght@300&display=swap');

$mainFont: 'Arima', cursive;
$secundaryFont: 'Ubuntu', sans-serif;

$textLG: 60px;
$textMD: 30px;