<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Eventos Web</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    
    <!-- INICIA NAV -->

        <nav class="navbar navbar-expand-lg navbar-light bg-green" id="botonera">
      <div class="container-fluid">
        <a class="navbar-brand " href="../index.html"><img src="../img/comida.png" alt="">Esencia Gastronómica

        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="../views/eventos.html">Eventos</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Servicios
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Sonido</a></li>
                <li><a class="dropdown-item" href="#">Banquetes</a></li>
                <li><a class="dropdown-item" href="#">Juegos Infantiles</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- TERMINA NAV -->
    <main>
          <section class="py-3">
            <div class="container-fluid">
              <h1 class="text-center">Nuestros Eventos</h1>
              <div class="row">
                <article class="col-sm-12 col-md-6 col-lg-6">
                  <img src="../img/boda.jpg" alt="" class="w-100">
                  <h3 class="text-center">Bodas</h3>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia eaque reiciendis nulla sint a iusto rerum. Consequatur perferendis, amet debitis architecto ad autem ratione tempore ullam deserunt praesentium fuga id!</p>
                  
                </article>

                <article class="col-sm-12 col-md-6 col-lg-6">
                  <img src="../img/fin.jpg" alt="" class="w-100">
                  <h3 class="text-center">Fiestas de Fin de Año</h3>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia eaque reiciendis nulla sint a iusto rerum. Consequatur perferendis, amet debitis architecto ad autem ratione tempore ullam deserunt praesentium fuga id!</p>
                </article>

                <article class="col-sm-12 col-md-6 col-lg-6">
                  <img src="../img/postres.jpg" alt="" class="w-100">
                  <h3 class="text-center">Mesa de Postres</h3>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia eaque reiciendis nulla sint a iusto rerum. Consequatur perferendis, amet debitis architecto ad autem ratione tempore ullam deserunt praesentium fuga id!</p>  
                </article>

                <article class="col-sm-12 col-md-6 col-lg-6">
                  <img src="../img/conferencia.jpg" alt="" class="w-100">
                  <h3 class="text-center">Conferencias</h3>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia eaque reiciendis nulla sint a iusto rerum. Consequatur perferendis, amet debitis architecto ad autem ratione tempore ullam deserunt praesentium fuga id!</p> 
                </article>
              </div>
            </div>
          </section>
  </main>
     
  <footer class="bg-green py-3 text-center text-white text-secondary text-uppercase"> Contratanos al 5509385928</footer>
     

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>